@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel';
    color: white;
}

body {
    background: #333333;
}

#content {
    background-image: url('./background-img.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

h1 {
    font-size: clamp(1.5rem, 6vw, 3.5rem);
    text-align: center;
    padding: 1em 1em 0.4em 1em;
}

.title-overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.6);
}

.link-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.link {
    background: transparent;
    border: none;
    border-bottom: 2.5px solid white;
    font-size: clamp(0.7rem, 1.5vw, 1.4rem);
    padding: 0.5em;
    flex: 1 1 0;
}

.link:hover {
    transform: translateY(-8%);
}

.menu-overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
}

.menu-title {
    padding: 0.5em 1em 0.3em 1em;
}

.contact-page-container {
    height: 400px;
    width: 400px;
    margin: 80px auto 0 auto;
    background: rgba(0, 0, 0, 0.6);
}